.galleryContainer{
  background: rgba(101, 101, 101, 0.92);
  margin: 0;
  padding: 0;
}
.gallery-img {
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  height: auto;
  max-height: 10%;
  border-radius: 5px;
  padding-bottom: 0;
}

.gallery-h1{
  text-align: center;
  font-size: 5em;
  color: white;
}
.imgCaption{
  font-size: 2em;
  text-align: center;
  color: black;
}

figure{
  background: rgb(135, 152, 132);
  border: 1px solid black;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
